<h1 [innerText]="title"></h1>
<h2>{{title}}</h2>
<p>Bu sayfa {{creator}} tarafından, {{createdDate}} tarihinde oluşturuldu!</p>
<hr>
<button [ngClass]="isAllTasksDisplaying ? 'btn btn-success':'btn btn-danger'" (click)="filter()">{{getButtonText()}}</button>
<div>
    <div *ngFor="let item of todoItems">
        <input type="checkbox" class="form-check-input" [(ngModel)]="item.isDone" />
        <span [ngClass]="item.isDone ? 'done':'undone'">{{item.task}} ({{item.isDone ? 'yapıldı':'yapılmadı'}})</span>
        
    </div>
</div>
