<form #newDepartment="ngForm" (ngSubmit)="submitForm(newDepartment)">
    <div class="form-group">
        <label for="depName">Departman Adı</label>
        <input #depName="ngModel" [(ngModel)]="department.name" type="text" name="name" id="depName" required minlength="3" class="form-control" >
        <span class="alert alert-danger form-control" *ngIf="depName.getError('required') && depName.invalid && depName.dirty">Departman adını boş bırakmayınız</span>
        <span class="alert alert-danger form-control" *ngIf="depName.getError('minlength')">Departman adını en az üç harf olmalı!</span>
        <span class="alert alert-danger form-control" *ngIf="formIsInvalid">Form Hatalı</span>
    </div>
    <button type="submit" class="btn btn-danger">Departman Ekle</button>
</form>
